
<header class="header">
  <div class="menu margen-interno">
    <div class="logo">
      <a href="#">
        <img src="../../../assets/img/LOGO-01.png" alt="" width="60px"
      /></a>
    </div>
    <div class="nav">

      <a routerLink="/inicio">
        <span class="off">Inicio </span>
        <img src="https://cdn.iconscout.com/icon/premium/png-128-thumb/house-791-356331.png" alt="" width="25px" />
      </a>

      <a routerLink="/destinos">
        <span class="off">Destinos </span>
        <img src=" https://cdn3d.iconscout.com/3d/premium/thumb/highway-5142771-4310277.png" alt="" width="33px" />
        </a>

      <a nz-dropdown [nzDropdownMenu]="tours">
        <span>Tours </span>
        <img src=" https://cdn.iconscout.com/icon/free/png-128/world-3472318-2904296.png" alt="" width="25px" />
      </a>




      <nz-dropdown-menu #tours="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item><a routerLink="/pasadia">Pasadia</a></li>
          <li nz-menu-item><a routerLink="/estadia">Estadia</a></li>
        </ul>
      </nz-dropdown-menu>

      <a routerLink="/contacto">
        <span class="off">Contacto </span>
        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/phone-ringing-4738918-3937620.png" alt="" width="27px" />
      </a>
    
      <a nz-dropdown [nzDropdownMenu]="menu">
        Ver mas
        <img src=" https://cdn3d.iconscout.com/3d/premium/thumb/down-arrow-2871138-2384397.png
        " alt="" width="27px" />
      </a>
    


      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a routerLink="/viajesGrupales">Viajes Personalizados</a>
          </li>
          <li nz-menu-item><a routerLink="/festividades">Festividades</a></li>
          <li nz-menu-item>
            <a routerLink="/recomendaciones">Recomendaciones</a>
          </li>
        </ul>
        
      </nz-dropdown-menu>

      <a *ngIf="isAdmin && isLogged" style="margin-left: 20px;" routerLink="/administracion/reportes">
        <i class="fas fa-concierge-bell"></i>
        <span class="off">Admin</span></a>

        <a nz-dropdown [nzDropdownMenu]="menuser" *ngIf="isLogged">
          <img src="https://raw.githubusercontent.com/SantiagoAndresSerrano/img-soka/master/Group%20(1).png" style="width: 40px; height: auto;" alt="" width="37px" margin-left="40px">
        </a>
        <nz-dropdown-menu #menuser="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a routerLink="/misViajes">Mis viajes</a>
            </li>
            <li nz-menu-item><a routerLink="/misCompras">Mis Compras</a></li>
            <li nz-menu-item><a routerLink="/misReservas">Mis reservas</a></li>
          </ul>
        </nz-dropdown-menu>    
    </div>
    <div class="social text-right">
      <a href="" *ngIf="!isLogged" routerLink="/login"
        >   <img src="   https://cdn3d.iconscout.com/3d/premium/thumb/right-arrow-2871140-2384398.png
        " alt="" width="27px" /><span class="off"> Inicio Sesión</span></a
      >
     
      <a href="" *ngIf="!isLogged" routerLink="/registro"
        ><img src="https://cdn3d.iconscout.com/3d/premium/thumb/form-5079664-4292942.png
        " alt="" width="32px" /><span class="off">Registrarse</span></a
      >
      <a style="display: none;" id="bienvenido" href="" 
        ><img src="  https://cdn.iconscout.com/icon/premium/png-128-thumb/chat-1450-478215.png
        " alt="" width="37px" /><span class="off" id="nombreUser">Bienvenido</span></a
      >
      <a href="" (click)="onLogOut()" *ngIf="isLogged" 
        ><span class="off"> <img src="https://cdn.iconscout.com/icon/free/png-128/exit-2879028-2393856.png
   
          " alt="" width="40px" /></span></a>

    </div> 
  
   
  </div>
  
</header>
