
    <div class="container-fluid login" style="height: 100%; margin: 0px; display: flex; justify-content: center; align-items: center;">
        <div id="login" class="signin-card ">
            <div class="logo-image" style="margin-bottom:15px;">
                <img src="../../../assets/img/LOGO-01.png" alt="Logo" title="Logo" width="138">
            </div>
            <div>
                <h2>Recuperar contraseña</h2>
            </div>
            <form [formGroup]="reset" novalidate role="form">
                <div id="form-login-username" class="form-group">
                    <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" [class.is-valid]="reset.controls.email.status=='VALID'" [class.is-invalid]="reset.controls.email.status!='VALID'" formControlName="email" required
                        type="text" size="18" alt="login" required />
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label">Correo Electronico</label>
                </div>

                <!-- <div class="iniciosesion" >
                    <a href="#">Iniciar Sesión</a>
                </div>  -->

                <div>
                    <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" (click)="enviarSolicitud()" alt="reset-password">Enviar 
                    </button>
                </div>


            </form>
        </div>
    </div>


