
    <div class="container-fluid login" style="height: 100%; margin: 0px; display: flex; justify-content: center; align-items: center;">
        <div id="login" class="signin-card ">
            <div class="logo-image" style="margin-bottom:15px;">
                <img src="../../../assets/img/LOGO-01.png" alt="Logo" title="Logo" width="138">
            </div>
            <div class="text-center">
                <b><a class="text-indigo-800 hover:underline" >CAMBIAR CONTRASEÑA</a></b>
              </div>
    <br>
            <form [formGroup]="fpassword" ngNativeValidate>
                <div id="form-login-username" class="form-group">
                    <input placeholder="* * * * * * * * *" type="password" name="password" id="password" class="form-control" formControlName="password" required>
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label">Contraseña</label>
                </div>

                <div id="form-login-username" class="form-group">
                    <input placeholder="* * * * * * * * *" type="password" name="confpassword" id="confpassword" class="form-control" formControlName="confpassword" required>
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label">Confirmar contraseña</label>
                </div>
                <div>
                    <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" (click)="enviarPassword()" alt="guardar contraseña">Guardar
                    </button>
                    <button class="btn btn-block btn-info ripple-effect" type="button" routerLink="/login">Cancelar</button>
                </div>


            </form>
        </div>
    </div>


