
<div *ngIf="isLogged">
    <div id="content" *ngIf="isPagoParcial" >
        <div class="notify successbox">
            <h1>Transaccion Exitosa, recuerda pagar el otro 50%</h1><br />
            <span ><img class="alerticon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/2048px-Check_green_icon.svg.png" alt="checkmark" /></span><br />
        </div>
    </div>

    <div id="content" *ngIf="isPagoTotal">
        <div class="notify successbox">
            <h1>Transaccion Exitosa disfruta tu viaje</h1><br />
            <span ><img class="alerticon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Check_green_icon.svg/2048px-Check_green_icon.svg.png" alt="checkmark" /></span><br />
        </div>
    </div>

    <div id="content" >
        <div class="notify successbox" *ngIf="isPagoCancelado">
            <h1>Transaccion Cancelada</h1><br />
            <span ><img class="alerticon" src="https://cdn2.iconfinder.com/data/icons/web-and-apps-interface/32/Cancel-512.png" alt="checkmark" /></span><br />
        </div>
    </div>
    <div id="content" >
        <button class="btn button-34" style="margin: 80px;" routerLink="/misReservas">Volver</button>

    </div>
    
</div>
