.body-rutas{
    margin: 180px;
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
  }

  .body-rutas h3{
    font-weight: bold;
  }

.flex-container{
    display: flex;
    flex-wrap: wrap;    
    padding: 20px;  
    margin: 20px;
    
}

.box{
    padding: 20px;
}

#centro{
    width: 150px;
    margin: 50px auto;
}





/* CSS CARD */

body {
    font-family: Varela Round;
    background: #f1f1f1;
}

a {
    text-decoration: none;
}

/* Card Styles */

.a-box-rutas {
    display: inline-block;
    width: 260px;
    text-align: center;
  }
  
  .img-container-rutas {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container-rutas img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px -60px;
  }
  
  .inner-skew-rutas {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container-rutas {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container-rutas h3 {
    margin: 20px 0px 10px 0px;
    color: #28a745;
    font-size: 18px;
  }

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

